[Desktop Entry]
Name=Obozrenie
Comment=Game Server Browser
Exec=obozrenie-gtk
Icon=obozrenie-short
Type=Application
Categories=Game;ActionGame;GNOME;GTK;
StartupNotify=true
